n8n/workflows/ops-health-alert.starter.json
{
  "id": "hospital-ops-health-alert-starter",
  "name": "BBH",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "n1-line1-wh",
      "name": "LINE #1 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -180
      ],
      "webhookId": "bbh-line-main-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "bbh-line-main",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "n2-line1-respond",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        220,
        -180
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "n3-line1-parse",
      "name": "Parse Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -180
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst events = (body.events ?? []).filter(\n  e => ['message', 'follow', 'postback'].includes(e.type)\n);\nif (!events.length) return [];\nreturn events.map(e => ({\n  json: {\n    event_type:  e.type,\n    user_id:     e.source?.userId ?? '',\n    reply_token: e.replyToken ?? '',\n    text:        e.message?.text ?? e.postback?.data ?? ''\n  }\n}));"
      }
    },
    {
      "id": "n4-line1-if-follow",
      "name": "Is Follow?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        -180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-follow",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "follow",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n5-line1-welcome",
      "name": "Send Welcome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -320
      ],
      "parameters": {
        "jsCode": "const { reply_token } = $json;\n\nasync function getToken(id, sec) {\n  const r = await fetch('https://api.line.me/v2/oauth/accessToken', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n    body: `grant_type=client_credentials&client_id=${encodeURIComponent(id)}&client_secret=${encodeURIComponent(sec)}`\n  });\n  return (await r.json()).access_token;\n}\n\nconst token = await getToken(\n  $vars.LINE_CHANNEL_ID ?? '',\n  $vars.LINE_CHANNEL_SECRET ?? ''\n);\n\nawait fetch('https://api.line.me/v2/bot/message/reply', {\n  method: 'POST',\n  headers: { Authorization: `Bearer ${token}`, 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    replyToken: reply_token,\n    messages: [{\n      type: 'text',\n      text: 'ร ยธยชร ยธยงร ยธยฑร ยธยชร ยธโร ยธยตร ยธโร ยนหร ยธยฐ รฐลธโโน ร ยธยขร ยธยดร ยธโขร ยธโร ยธยตร ยธโขร ยนโฐร ยธยญร ยธโขร ยธยฃร ยธยฑร ยธลกร ยธยชร ยธยนร ยนห BBH Functional Medicine\\n\\nร ยธลพร ยธยดร ยธยกร ยธลพร ยนลร ยธโร ยธยณร ยธโร ยธยฒร ยธยกร ยนโร ยธโร ยนโฐร ยนโฌร ยธยฅร ยธยข ร ยธยซร ยธยฃร ยธยทร ยธยญร ยนโฌร ยธยฅร ยธยทร ยธยญร ยธยร ยธยซร ยธยฑร ยธยงร ยธโร ยนโฐร ยธยญร ยธโร ยธยตร ยนหร ยธยชร ยธโขร ยนฦร ยธห:',\n      quickReply: {\n        items: [\n          { type: 'action', action: { type: 'message', label: 'รฐลธโโฆ ร ยธหร ยธยญร ยธโกร ยธโร ยธยดร ยธยง',           text: 'ร ยธยญร ยธยขร ยธยฒร ยธยร ยธหร ยธยญร ยธโกร ยธโร ยธยดร ยธยง' } },\n          { type: 'action', action: { type: 'message', label: 'รฐลธโยฌ FM ร ยธโร ยธยทร ยธยญร ยธยญร ยธยฐร ยนโร ยธยฃ',       text: 'Functional Medicine ร ยธโร ยธยทร ยธยญร ยธยญร ยธยฐร ยนโร ยธยฃ' } },\n          { type: 'action', action: { type: 'message', label: 'รฐลธโล  ร ยธลกร ยธยฃร ยธยดร ยธยร ยธยฒร ยธยฃร ยนยร ยธยฅร ยธยฐร ยธยฃร ยธยฒร ยธโร ยธยฒ',    text: 'ร ยธลกร ยธยฃร ยธยดร ยธยร ยธยฒร ยธยฃร ยนยร ยธยฅร ยธยฐร ยธยฃร ยธยฒร ยธโร ยธยฒ' } },\n          { type: 'action', action: { type: 'message', label: 'รฐลธโโน ร ยธยงร ยธยดร ยธหร ยธยตร ยธยชร ยนหร ยธโกร ยธลร ยธยฅร ยธโขร ยธยฃร ยธยงร ยธห',   text: 'ร ยธยงร ยธยดร ยธหร ยธยตร ยธยชร ยนหร ยธโกร ยธลร ยธยฅร ยธโขร ยธยฃร ยธยงร ยธห' } }\n        ]\n      }\n    }]\n  })\n});\n\nreturn [{ json: { ok: true, sent: 'welcome' } }];"
      }
    },
    {
      "id": "n7-line2-wh",
      "name": "LINE #2 CRO Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        160
      ],
      "webhookId": "bbh-line-cro-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "bbh-line-cro",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "n8-line2-respond",
      "name": "Respond 200 (CRO)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        220,
        160
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "n9-line2-parse",
      "name": "Parse CRO Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        160
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst events = (body.events ?? []).filter(\n  e => ['message', 'follow'].includes(e.type)\n);\nif (!events.length) return [];\nreturn events.map(e => ({\n  json: {\n    event_type:  e.type,\n    user_id:     e.source?.userId ?? '',\n    reply_token: e.replyToken ?? '',\n    text:        e.message?.text ?? ''\n  }\n}));"
      }
    },
    {
      "id": "n10-line2-forward",
      "name": "Forward to Bridge (CRO)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "http://hospital-bridge:8000/webhook/cro",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $vars.BRIDGE_INTERNAL_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "n-call-dify",
      "name": "Call RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -60
      ],
      "parameters": {
        "method": "POST",
        "url": "http://hospital-bridge:8000/internal/rag/answer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $vars.BRIDGE_INTERNAL_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({channel:\"line_main\",external_user_id:$json.user_id,text:$json.text}) }}"
      }
    },
    {
      "id": "n-line-token",
      "name": "Get LINE Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -60
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/oauth/accessToken",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ 'grant_type=client_credentials&client_id='+$vars.LINE_CHANNEL_ID+'&client_secret='+$vars.LINE_CHANNEL_SECRET }}"
      }
    },
    {
      "id": "n-line-reply",
      "name": "Reply to LINE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -60
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({replyToken:$('Parse Events').item.json.reply_token,messages:[{type:'text',text:$('Call RAG').item.json.answer||'เธเธญเธญเธ เธฑเธขเธเนเธฐ เธฃเธฐเธเธเนเธกเนเธเธฃเนเธญเธกเนเธซเนเธเธฃเธดเธเธฒเธฃเนเธเธเธเธฐเธเธตเน'}]}) }}"
      }
    }
  ],
  "connections": {
    "LINE #1 Webhook": {
      "main": [
        [
          {
            "node": "Parse Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Events": {
      "main": [
        [
          {
            "node": "Is Follow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Follow?": {
      "main": [
        [
          {
            "node": "Send Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE #2 CRO Webhook": {
      "main": [
        [
          {
            "node": "Respond 200 (CRO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 (CRO)": {
      "main": [
        [
          {
            "node": "Parse CRO Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CRO Events": {
      "main": [
        [
          {
            "node": "Forward to Bridge (CRO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RAG": {
      "main": [
        [
          {
            "node": "Get LINE Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LINE Token": {
      "main": [
        [
          {
            "node": "Reply to LINE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}